@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* #region  /**=========== Primary Color =========== */
    /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
    /* GREEN COLOR */
    --tw-color-primary-50: 240 253 244;
    --tw-color-primary-100: 220 252 231;
    --tw-color-primary-200: 187 247 208;
    --tw-color-primary-300: 134 239 172;
    --tw-color-primary-400: 74 222 128;
    --tw-color-primary-500: 34 197 94;
    --tw-color-primary-600: 22 163 74;
    --tw-color-primary-700: 21 128 61;
    --tw-color-primary-800: 22 101 52;
    --tw-color-primary-900: 20 83 45;
    --tw-color-primary-950: 5 46 22;
    --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0fdf4 */
    --color-primary-100: rgb(var(--tw-color-primary-100)); /* #dcfce7 */
    --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bbf7d0 */
    --color-primary-300: rgb(var(--tw-color-primary-300)); /* #86efac */
    --color-primary-400: rgb(var(--tw-color-primary-400)); /* #4ade80 */
    --color-primary-500: rgb(var(--tw-color-primary-500)); /* #22c55e */
    --color-primary-600: rgb(var(--tw-color-primary-600)); /* #16a34a */
    --color-primary-700: rgb(var(--tw-color-primary-700)); /* #15803d */
    --color-primary-800: rgb(var(--tw-color-primary-800)); /* #166534 */
    --color-primary-900: rgb(var(--tw-color-primary-900)); /* #14532d */
    --color-primary-950: rgb(var(--tw-color-primary-950)); /* #052e16 */
    /* #endregion  /**======== Primary Color =========== */
}

@layer base {
    /* #region  /**=========== Typography =========== */
    .h0 {
        @apply font-primary text-5xl font-bold md:text-3xl;
    }

    h1,
    .h1 {
        @apply font-primary text-4xl font-bold md:text-2xl;
    }

    h2,
    .h2 {
        @apply font-primary text-3xl font-bold md:text-xl;
    }

    h3,
    .h3 {
        @apply font-primary text-2xl font-bold md:text-lg;
    }

    h4,
    .h4 {
        @apply font-primary text-lg font-bold md:text-base;
    }

    body,
    .p {
        @apply font-primary text-base md:text-sm;
    }
    /* #endregion  /**======== Typography =========== */
}

@layer utilities {
    .ct-max-w-screen {
        max-width: 1535px;
        @apply mx-auto px-14 md:px-4;
    }
}
